.cover.cover--home(style="background-image: url(img/home_hero.svg)")
  .container
    .cover__content_box
      .col-lg-12.col-lg-12.col-lg-12
        h2.cover__title.cover__title
          span.cover__title_text
            | 區塊鏈創新業務
        .cover__description_box
          span.cover__description_text
            | 建立區塊鏈生態，探索區塊鏈藍海的星際航道！
.container(style='width: 100%; height: 860px;')
