// == START OF HOME 02 ==
.home.home-02
  .home__title-box
    h2.home__title
      | 漫遊大數據星系 !
    span.home__description
      | 在傳統商業模式，利潤往往可以被計算，成本一般是正比，營收相對也可被預期。但在網路世代，大數據就像一區未被探索的銀河系，考驗著我們從資料中發現那顆資源豐富的星球，登陸、採集與連結資料的商業價值，應用價值創造源源不絕的資料經濟

// == END OF HOME 02 ==
