// == START OF HOME 02 ==
.home.home-02
  .home__title-box
    h2.home__title
      | 漫遊大數據星系 !
    span.home__description
      | 在傳統商業模式，利潤往往可以被計算，成本一般是正比，營收相對也可被預期。但在網路世代，大數據就像一區未被探索的銀河系，考驗著我們從資料中發現那顆資源豐富的星球，登陸、採集與連結資料的商業價值，應用價值創造源源不絕的資料經濟
  .container
    .row.home__row
      .home__item.col-xs-12.col-md-6.col-lg-3
        img.home__item_img(src='img/team-type-01.svg')
        h3.home__item_title
          | G & A
        span.home__item_text
          | 我們有進步的決心，那怕事情不如預期。但我們相信只要不斷努力去做到更好。
      .home__item.col-xs-12.col-md-6.col-lg-3
        img.home__item_img(src='img/team-type-02.svg')
        h3.home__item_title
          | COMMUNITY
        span.home__item_text
          | 我們有進步的決心，那怕事情不如預期。但我們相信只要不斷努力去做到更好。
      .home__item.col-xs-12.col-md-6.col-lg-3
        img.home__item_img(src='img/team-type-03.svg')
        h3.home__item_title
          | ENGINEERING
        span.home__item_text
          | 我們有進步的決心，那怕事情不如預期。但我們相信只要不斷努力去做到更好。
      .home__item.col-xs-12.col-md-6.col-lg-3
        img.home__item_img(src='img/team-type-04.svg')
        h3.home__item_title
          | PRODUCT
        span.home__item_text
          | 我們有進步的決心，那怕事情不如預期。但我們相信只要不斷努力去做到更好。
// == END OF HOME 02 ==
