// == START OF HOME 03 ==
.home.home-03
  .container
    .row.home__row
      .home__textbox.col-xs-12.col-md-12.col-lg-4
        h3.home__textbox_title
          | 選擇專屬的應用場景與解決方案
        span.home__textbox_text
          | 成立於 2015 年，致力打造企業級的網路應用解決方案，目前推出網路監控系統(CDN Monitoring)、區塊鏈(Blockchain) 產品，提供智慧、直覺與人性化的解決方案。
        span.home__textbox_text
          | 初期，Cepave 專注為運維工作者打造直覺、人性化的即時監控體驗，我們讓問題更容易發現、改善更簡單，目前超過 100 家企業、40,000 台云主機、 5,000 位運維工作者正在被我們幫助著，以客戶、技術為中心是我們的使命，顛覆人們對監控系統的想法與運用是我們的願景。加強區塊鏈技術、標準研究，構建新一代網絡空間基礎協議，推動技術開源。
        span.home__textbox_text
          | 2016 年加入區塊鏈，為探索網路基礎資產與互聯網金融帶來變革性創新，積極加強區塊鏈技術、標準研究，構建新一代網絡空間基礎協議，推動技術開源。
      .home__item.col-xs-12.col-md-12.col-lg-4
        .home__item_container
          img.home__item_img(src='img/home-monitoring-01.svg')
          h3.home__item_title
            | 監控系統
          hr.home__item_line
          span.home__item_text
            | 企業級高可用、高擴展的開源監控解決方案，我們收集所有監控狀態、運行數據和區域性能數據匯總分析，提供真正以大數據驅動的監控平台，幫助企業提升交付速度、持續推動業務創新。Cepave 在大量企業數據的基礎上，結合互聯網創新技術，監控系統不再是你既有印象裡的大型主機或機房，透過技術讓介面更直覺、調度更智慧，讓「運維標準化」在不同企業中實現，成就真正的「運維生態圈」。
          hr.home__item_line
          button.home__item_btn
            | More

      .home__item.col-xs-12.col-md-12.col-lg-4
        .home__item_container
          img.home__item_img(src='img/home-blockchain-02.svg')
          h3.home__item_title
            | 區塊鏈
          hr.home__item_line
          span.home__item_text
            | 區塊鏈是引領未來市場的關鍵技術，不僅加速了金融服務業的變革、更是物聯網應用的關鍵推手。透過分佈式共識算法，建構的 P2P 自組織網路，實現去中心化的信任機制，以更快、更安全且更低成本的方式幫助企業提升效率。目前區塊鏈技術已廣泛被應用於網路金融、數位貨幣、政府公開資訊與數據安全領域。我們深信下一波科技浪潮將被區塊鏈改寫，如果你也抱著相同的熱忱，歡迎與我們一同參與！
          hr.home__item_line
          button.home__item_btn
            | More

// == END OF HOME 03 ==