.home-01{
  position: relative;
  background: transparent;
  padding-bottom: 120px;
  @media (#{$max_phones}){
    padding: 50px 0;
  }
  .home {
    &__title-box {
      position:absolute;
      bottom: 0;
    }
    &__description {
      @include font_loader($notosanstc, 4, 'n');
      display: block;
      margin: auto;
      font-size: 16px;
      color: $color-yellow-light;
      margin-bottom: 20px;
    }
  }
}
img {
  width: 100%;
}