.home-02 {
  position: relative;
  background: transparent;
  padding-bottom: 120px;
  height: 100%;
  overflow: hidden;
  @media (#{$max_phones}){
    padding: 50px 0;
  }
  img {
    width: 120%;
    left:-5%;
    @media (#{$max_tablets}){
      width: 100%;
      left:0;
    }
  }
  .home {
    position:relative;
    &__title-box {
      margin-top: 10px;
    }
    &__title {
      @include font_loader($montserrat, 4, 'n');
      margin-bottom: 10px;
      font-size: 36px;
      color: $color-gray-ligtest;
      text-transform: uppercase;
      letter-spacing: .05em;
      margin-bottom: 24px;
    }
    &__description {
      @include font_loader($montserrat, 4, 'n');
      max-width: 90%;
      display: block;
      margin: auto;
      font-size: 16px;
      color: $color-yellow-light;
    }
    &__item {
      &_btn {
        width: 100%;
        background-color: #fff;
        height: 50px;
        border-radius: 50px;
        background: linear-gradient(to right, rgba($color-primary,1) 0%, rgba($color-orange,1) 100%);
        color: $white;
        font-size: 14px;
        margin-top: 28px;
      }
      &_img {
        overflow: hidden;
        width: 100%;
        height: auto;
        border-radius: 15px;

      }
    }
  }
}
