.home-02 {
  position: relative;
  background: $white;
  padding-bottom: 120px;
  height: 860px;
  @extend .scrim-gradient;
  @media (#{$max_phones}){
    padding: 50px 0;
  }
  .background {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url(#{$background_path}line-chart.svg);
    background-position: center bottom;
    background-repeat: no-repeat;
  }
  .rover {
    position: absolute;
    bottom: 238px;
    left: 15%;
  }
  .home {
    &__title-box {
      margin-top: 150px;
    }
    &__title {
      @include font_loader($montserrat, 4, 'n');
      margin-bottom: 10px;
      font-size: 36px;
      color: $color-gray-darker;
      text-transform: uppercase;
      letter-spacing: .05em;
      margin-bottom: 24px;
    }
    &__description {
      @include font_loader($montserrat, 1, 'n');
      display: block;
      margin: auto;
      font-size: 16px;
      color: $color-gray;
    }
  }
}
