.home-05 {
  position: relative;
  background: #4C6AFF;
  padding: 100px 0;
  &:before {
    content: '';
    display: block;
    position: absolute;
    height: 374px;
    width: 100%;
    background-image: url('../img/home_wave.svg');
    background-size: cover;
    background-position-x: center;
    bottom: 100%;
    pointer-events: none;
  }
  @media (#{$max_phones}){
    padding: 50px 0 100px;
  }
  .home {
    &__title {
      color: $white;
      letter-spacing: .1em;
    }
    &__description {
      color: $white;
    }
    &__item {
      text-align: center;
      padding: 100px 15px;
      @media (#{$max_tablets}) {
        padding: 60px 30px 0 60px;
      }
      @media (#{$max_phones}){
        padding: 60px 40px 0;
      }
      &_container {
        border-radius: 4px;
        background: $white;
        box-shadow: $shadow2-hover;
        padding: 56px 12px 28px;
        &:hover {
          box-shadow: $shadow4-hover;
          transition: box-shadow .75s;
        }
      }
      &_img {
        width: 50%;
        border-radius: 4px 4px 0 0;
        //display: block;
        margin-bottom: 48px;
      }
      &_text {
        @include font_loader($montserrat, 4, 'n');
        display: block;
        font-size: 16px;
        color: $color-gray-darker;
        @media (#{$max_phones}){
          font-size: 16px;
          height: 32px;
        }
      }
    }
  }
}
