.home-06 {
  position: relative;
  background: transparent;
  padding: 120px 0 200px;
  height: 100%;
  @media (#{$max_phones}){
    padding: 50px 0;
  }
  .home {
    position:relative;
    &__title-box {
      // margin-top: 50px;
    }
    &__title {
      @include font_loader($montserrat, 5, 'n');
      margin-bottom: 10px;
      font-size: 36px;
      color: $color-gray-ligtest;
      text-transform: uppercase;
      letter-spacing: .05em;
      margin-bottom: 24px;
    }
    &__row {
      margin-bottom: 5rem;
    }
  }
  .home__ {
    &item {
      text-align: center;
      @media (#{$max_tablets}) {
        padding: 60px 30px 0 60px;
      }
      @media (#{$max_phones}){
        padding: 60px 40px 0;
      }
      @media (#{$_partner_smaller}){
        padding: 5px;
      }
      &_link {
        display: block;
        padding: 56px 12px 28px;
        position: relative;
        z-index: 0;
        transition:0.3s;
        @media (#{$_partner_smaller}) {
          padding: 0;
        }
      }
      &_img {
        width: 90%;
        margin-bottom: 0;
        @media (#{$_partner_smaller}) {
          width: 100%;
        }
      }
      &_link:hover {
        filter: brightness(150%);
      }
    }
    &other {
      &_li {
        float: center;
        display: inline-block;
      }
      &_link {
        display: block;
        width: 120px;
        height: 50px;
        border-radius:25px;
        border:1px solid $color-gray-dark ;
        margin:10px 5px 10px;
        text-decoration: none;
        transition: 0.3s;
        &:hover {
          background-color: $color-primary;
          border:1px solid $color-yellow-light;
        }
        @media(#{$max_phones}){
          width: 100px;
          height: 30px;
        }
      }
      &_text {
        color:$color-gray-dark  ;
        font-size: 14px;
        line-height: 3.5em;
        transition: 0.3s;
        &:hover {
          color:$color-yellow-light;
        }
        @media(#{$max_phones}){
          font-size: 8px;
          line-height: 2.5em;
        }
      }
    }
  }
}

