// == START OF FOOTER ==
footer.footer
  .footer__main_box
    .container.footer__container
      .footer__left_box
      .footer__right_box
        ul.footer__menu
          li.footer__menu__item
            span.footer__menu__title
              | Project
          li.footer__menu__item
            .footer__menu__link
              | OWL
          li.footer__menu__item
            .footer__menu__link
              | Open Falcon
          li.footer__menu__item
            .footer__menu__link
              | OWL UI
        ul.footer__menu
          li.footer__menu__item
            span.footer__menu__title
              | Service
          li.footer__menu__item
            .footer__menu__link
              | Monitoring System -  Enterprise Solutions
          li.footer__menu__item
            .footer__menu__link
              | BlockChain
        ul.footer__menu
          li.footer__menu__item
            span.footer__menu__title
              | COMPANY
          li.footer__menu__item
            a.footer__menu__link(href='about.html')
              | About
          li.footer__menu__item
            a.footer__menu__link(href='team.html')
              | Team
          li.footer__menu__item
            .footer__menu__link
              | Blog
          li.footer__menu__item
            a.footer__menu__link(href='hireing.html')
              | Jobs
  .footer__description_box
    .container.footer__container
      ul.footer__submenu
        li.footer__submenu__item
          .footer__submenu__link
            | Terms and Conditions
        li.footer__submenu__item
          .footer__submenu__link
            | Privacy Policy
        li.footer__submenu__item
          .footer__submenu__link
            | FAQ
      span.footer__copyright
        | &copy; ceapve.com, 2017
// == END OF FOOTER ==
