// == START OF FOOTER ==
footer.footer
  .footer__main_box
    .container.footer__container
      .footer__logo_box
        .footer__logo
  .footer__description_box
    .container.footer__container
      span.footer__copyright
        | &copy; 2019  1SG  All rights reserved.
// == END OF FOOTER ==
