nav.navigation_bar
	.container.header__container
		.header__left_box
			a.header__logo_box(href="#", title="Home")
				span.header__logo_img
				span.header__logo_text
					| Cepave
		.header__right_box
			ul.header__menu_list.header__item--desktop
				li.header__menu_item
					a.header__menu_link(href="#")
						| Project
				li.header__menu_item
					a.header__menu_link(href="#")
						| Service
				li.header__menu_item
					a.header__menu_link(href="#")
						| Blog
				li.header__menu_item
					a.header__menu_link.state-active(href="#")
						| About
				li.header__menu_item
					a.header__menu_link(href="#")
						| Contact