doctype html
html
  head
    //tags
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width")

    //assets
    link(href="//fonts.googleapis.com/css?family=Montserrat:100,400,500,700,900", rel="stylesheet")
    link(rel="stylesheet", href="css/main.css")

    //page title
    title
      | Cepave.com
  body
    main.page_wrapper.page_wrapper--presentation-navbar
      - var selected = 'Contact'
      include _components/_header/_navigation_bar
      include _components/_contact/_contact
      include _components/_footer/_footer
    script(src="js/main.js", defer)
