extends _layout/_layout

//- Variables
block vars
  - var lang            = 'zh-Hant-TW'
  - var pageTitle       = 'cepave | Contact'
  - var pageDescription = 'Description'
  - var bodyClass       = 'contact'
  - var selected        = 'Contact'

block content
  include _layout/_header/_navigation_bar
  include _section/_contact/_contact
  include _layout/_footer/_footer
