doctype html
html
	head
		//tags
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width")

		//assets
		link(rel="stylesheet", href="css/main.css")
		script(src="js/main.js", defer)

		//page title
		title
			| Cepave.com
	body
		main.page_wrapper.page_wrapper--presentation-navbar
			include _components/_covers/_hireing
			include _components/_hireing/_02
			include _components/_hireing/_03
