doctype html
html
  head
    //tags
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width")

    //assets
    link(href="//fonts.googleapis.com/css?family=Montserrat:100,400,500,700,900", rel="stylesheet")
    link(rel="stylesheet", href="css/main.css")
    script(src="js/main.js", defer)

    //page title
    title
      | Cepave.com
  body
    main.page_wrapper.page_wrapper--presentation-navbar
      include _components/_header/_navigation_bar
      include _components/_home/_01
      include _components/_home/_02
      include _components/_home/_03
      include _components/_home/_04
      include _components/_home/_05
      include _components/_footer/_footer
