extends _layout/_layout

//- Variables
block vars
  - var lang            = 'zh-Hant-TW'
  - var pageTitle       = 'cepave | Team'
  - var pageDescription = 'Description'

block content
  include _layout/_header/_navigation_bar
  include _section/_team/_01
  include _section/_team/_02
  include _section/_team/_03
  include _layout/_footer/_footer
