.footer {
  position: relative;
  background-color: transparent;
}
.footer__container {
  position: relative;
}
.footer__nav {
  @include clear_list;
}
.footer__nav__item {
  display: inline-block;
}
.footer__nav__link {
  @include clear_link;
}
.footer__menu {
  @include clear_list;
}
.footer__menu__item {
  margin-bottom: 15px;
  @media (#{$min_tablets}) {
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.footer {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.footer__main_box {
  padding: 32px 0 60px;
  @media (#{$max_phones}){
    padding-bottom: 32px;
  }
}
.footer__logo_box {
  display: block;
  margin-bottom: 8px;
}
.footer__logo {
  display: inline-block;
  vertical-align: top;
  background-image: url(../img/etc/logo--text--h.svg);
  width: 86px;
  height: 121px;
  left:50%;
  transform: translateX(-50%);
}
.footer__description {
  display: inline-block;
  color: $color-gray;
  font-size: 12px;
  margin-bottom: 40px;
  @include font_loader($montserrat, 1, 'n');
}
.footer__copyright {
  position: absolute;
  left:50%;
  top: 50%;
  transform: translate(-50%,-50%);
  display: block;
}
.footer__description_box {
  padding: 24px 0 24px;
}


