// == START OF ABOUT 02 ==
.about.about-02
  .about__culture_box
    button.about__culture_item.state-active.js-content-trigger(type="button", data-content-index="culture_1")
      h3.about__culture_title
        | 速度激情
    button.about__culture_item.js-content-trigger(type="button", data-content-index="culture_2")
      h3.about__culture_title
        | 化繁為簡
    button.about__culture_item.js-content-trigger(type="button", data-content-index="culture_3")
      h3.about__culture_title
        | 年輕狂野

  //the first one is visible by default
  .about-container
    .container.about__culture_text_box.js-content-box(data-content-index="culture_1", style="display:block")
      .row
        .about__item.col-lg-6.col-lg-offset-3.col-xs-12
          img.about__img(src='img/about-culture-01.svg')
          span.about__text
            | 看緊目標、快速迭代，我們追求用最小的管理，靈活、快速、有效率的溝通
    .container.about__culture_text_box.js-content-box(data-content-index="culture_2")
      .row
        .about__item.col-lg-6.col-lg-offset-3.col-xs-12
          img.about__img(src='img/about-culture-02.svg')
          span.about__text
            | 我們面對混亂、終結混亂，追求最接近使用場景的貼心，贏得客戶信賴
    .container.about__culture_text_box.js-content-box(data-content-index="culture_3")
      .row
        .about__item.col-lg-6.col-lg-offset-3.col-xs-12
          img.about__img(src='img/about-culture-03.svg')
          span.about__text
            | 制度無法管理態度，因為彼此信任，所以突破體制狂放又熱情奔向目標
// == END OF ABOUT 02 ==

