// == START OF ABOUT 03 ==
mixin about__client-item(className, link)
  .col-xs-12.col-md-6.col-lg-3
    a.about__client-item(class=className, href=link, ,target='blank')

.about.about-03
  .about-wave-space
    .fix-position
      img(src='img/about-wave.svg')
  .about__title-box
    h2.about__title
      | 我們的客戶
    span.about__description
      | 自 2015 年成立以來，吸引了眾多互聯網大玩家的目光
  .container
    .row.about__row
      +about__client-item('xiaomi', 'http://www.mi.com')
      +about__client-item('didi', 'http://www.xiaojukeji.com')
      +about__client-item('weibo', 'http://tw.weibo.com')
      +about__client-item('qihoo', '//www.360.cn')
      +about__client-item('pingan', '//fincloud.pingan.com')
      +about__client-item('fastweb', 'http://www.fastweb.com.cn')
      +about__client-item('meituan', 'http://tb.meituan.com/')
      +about__client-item('iqiyi', 'http://www.iqiyi.com/')
// == END OF ABOUT 03 ==
