// == START OF ABOUT 03 ==
.about.about-03
  .about-wave-space
    .fix-position
        img(src='img/about-wave.svg')
  .about__title-box
    h2.about__title
      | 我們的客戶
    span.about__description
      | 自 2015 年成立以來，吸引了眾多互聯網大玩家的目光
  .container
    .row.about__row
      .col-xs-12.col-md-6.col-lg-3
        a.about__client-item(href='http://www.mi.com/index.html',target='blank')
          img(src='img/enterprise/enterprise-01.png')
      .col-xs-12.col-md-6.col-lg-3
        a.about__client-item(href='http://www.xiaojukeji.com/',target='blank')
          img(src='img/enterprise/enterprise-02.png')
      .col-xs-12.col-md-6.col-lg-3
        a.about__client-item(href='http://tech.pingan.com/product/product_pinganyun.shtml',target='blank')
          img(src='img/enterprise/enterprise-03.png')
      .col-xs-12.col-md-6.col-lg-3
        a.about__client-item(href='https://www.360.cn/',target='blank')
          img(src='img/enterprise/enterprise-04.png')
      .col-xs-12.col-md-6.col-lg-3
        a.about__client-item(href='https://www.ksyun.com/',target='blank')
          img(src='img/enterprise/enterprise-05.png')
      .col-xs-12.col-md-6.col-lg-3
        a.about__client-item(href='http://www.fastweb.com.cn/',target='blank')
          img(src='img/enterprise/enterprise-06.png')
      .col-xs-12.col-md-6.col-lg-3
        a.about__client-item(href='http://tb.meituan.com/',target='blank')
          img(src='img/enterprise/enterprise-07.png')
      .col-xs-12.col-md-6.col-lg-3
        a.about__client-item(href='http://www.iqiyi.com/',target='blank')
          img(src='img/enterprise/enterprise-08.png')
// == END OF ABOUT 03 ==