// == START OF ABOUT 04 ==
.about.about-04
  .container
    .row
      .about__item.col-md-8.col-md-offset-2.col-xs-12
        img.about__item_img(src='img/avant/about-quote.png')
        h3.about__item_title
          | 这个团队有很深的技术功底，能够下的了苦功，耐得住寂寞，不断修炼在这个专业里的造诣。在中国今天急功近利浮躁的商业环境下，这个团队风格宛如一股清新的春风，给我们留下深刻的印象。
        h5.about__item_subtitle
          | 滴滴出行运维总监 来炜
// == END OF ABOUT 04 ==
