// == START OF HIREING 02 ==
.hireing.hireing-02
	.hireing__title-box
		h2.hireing__title
			| 我們的價值
		span.hireing__description
			| 我們的價值不僅僅是口號。我們真正相信它們，並轉化為我們的文化。
	.container
		.row.hireing__row
			.hireing__item.col-xs-12.col-md-6.col-lg-3
				img.hireing__item_img(src='img/hireing-culture-01.svg')
				h3.hireing__item_title
					| 在所做的一切之中磨練
				span.hireing__item_text
					| 我們有進步的決心，那怕事情不如預期。但我們相信只要不斷努力去做到更好，不斷地更進一步讓我們推動自己，因為我們總知道會有改進的地方。
			.hireing__item.col-xs-12.col-md-6.col-lg-3
				img.hireing__item_img(src='img/hireing-culture-01.svg')
				h3.hireing__item_title
					| 我們守護熱情
				span.hireing__item_text
					| 我們希望為我們的客戶和我們的員工提供最好的解決方案之外，我們更超越以上，使我們的客戶和員工幸福。我們互相擁抱彼此，相互幫助。
			.hireing__item.col-xs-12.col-md-6.col-lg-3
				img.hireing__item_img(src='img/hireing-culture-01.svg')
				h3.hireing__item_title
					| 如火箭燃燒推進
				span.hireing__item_text
					| 我們是開放和真誠的。我們相互鼓勵和指教，因為我們真心關心彼此，互相挑戰，互相幫助。
			.hireing__item.col-xs-12.col-md-6.col-lg-3
				img.hireing__item_img(src='img/hireing-culture-01.svg')
				h3.hireing__item_title
					| 謙謙君子
				span.hireing__item_text
					| 我們希望我們的隊友能夠像我們自己一樣成功。我們不認為我們比別人更好，不要只關注自己。
// == END OF HIREING 02 ==