// == START OF HIREING 02 ==
.hireing.hireing-02
  .hireing-hero-space
    .fix-position
      img(src='img/hireing-hero-space.svg')
  .hireing__title-box
    h2.hireing__title
      | 我們的價值觀
    span.hireing__description
      | 價值觀不僅僅是口號，我們真心相信著，並轉化為我們的文化。
  .container
    .row
      .hireing__item
        img.hireing__item_img(src='img/hireing-culture-01.svg')
        h3.hireing__item_title
          | 在所做的一切之中磨練
        .hireing__item_text
          | 我們堅信不斷努力會做更好，不斷進步讓我們往前邁步，哪怕不如預期，也會得到再改進的目標。
      .hireing__item
        img.hireing__item_img(src='img/hireing-culture-02.svg')
        h3.hireing__item_title
          | 我們守護熱情
        .hireing__item_text
          | 最好的解決方案就是「人」，用熱情互相擁抱、互助互信，這是我們最大的幸福。
      .hireing__item
        img.hireing__item_img(src='img/hireing-culture-03.svg')
        h3.hireing__item_title
          | 如火箭燃燒推進
        .hireing__item_text
          | 開放和真誠是我們的助力，因為關心彼此、相互鼓勵與指教，一加一才能真正大於二。
      .hireing__item
        img.hireing__item_img(src='img/hireing-culture-04.svg')
        h3.hireing__item_title
          | 謙謙君子
        .hireing__item_text
          | 一個人走最快，一群人走更遠，沒有一個強者只有一群勝者，而且... 不無聊！
      .hireing__item
        img.hireing__item_img(src='img/hireing-culture-05.svg')
        h3.hireing__item_title
          | 被選中的人
        .hireing__item_text
          | 保有如孩子般的好奇與應變之力，面對所處的網路世代我們無所畏懼。
      .hireing__item
        img.hireing__item_img(src='img/hireing-culture-06.svg')
        h3.hireing__item_title
          | 願原力與你同在
        .hireing__item_text
          | 創新是我們的原動力，我們賦予每位夥伴高度自由，燃燒與釋放自己的創造力。
// == END OF HIREING 02 ==