.cover.cover--hireing.galaxy-wrapper
  canvas#galaxy
  .background
    .container
      .cover__content_box
        .col-xs-12.col-md-6.col-lg-5
          h2.cover__title.cover__title
            span.cover__title_text
              | 學歷不能阻礙我們認識彼此
          .cover__description_box
            span.cover__description_text
              | 我們尋求有野心、有膽識、有創業想法、勇於挑戰自我、喜歡 Hackathon、熱愛學習以及關注新技術的人才。我們清楚學歷無法完全代表一個人，更不可能阻礙我們認識彼此，只要態度良好、願意學習，能力一定有所發揮。
        .col-xs-12.col-md-6.col-lg-5.col-lg-offset-2
          .spaceship
            img(src='img/spaceship-xl.svg')
.container(style='width: 100%; height: 860px;')
