// == START OF HIREING 03 ==
mixin hireing-list__item(category, style, benefit)
  li.hireing_benefit-list__item
    .hireing_benefit-list__item__img(style=style)
    .hireing_benefit-list__item__cover
      .hireing_benefit-list__item__text
        | #{benefit}

.hireing.hireing-03
  .hireing__title-box
    h2.hireing__title
      | 福利制度
    span.hireing__description
      | 關心你、也關心你的工作環境，在新創公司打拚，不必委屈！
  .row
    ul.hireing_benefit-list
      +hireing-list__item('1','background-image: url(img/pictures/benefit-001.png)','每天吃不完的零食及喝不完的飲料')
      +hireing-list__item('1','background-image: url(img/pictures/benefit-002.png)','每人高額 BYOD 補助、Dell 螢幕，設計師配 iMac 27')
      +hireing-list__item('1','background-image: url(img/pictures/benefit-003.png)','每週 TGIF 下午茶活動')
      +hireing-list__item('1','background-image: url(img/pictures/benefit-004.png)','每月電影欣賞')
      +hireing-list__item('1','background-image: url(img/pictures/benefit-005.png)','每月運動補助津貼')
      +hireing-list__item('1','background-image: url(img/pictures/benefit-006.png)','每年員工健康檢查')
      +hireing-list__item('1','background-image: url(img/pictures/benefit-007.png)','特休假採社會年資計算')
      +hireing-list__item('1','background-image: url(img/pictures/benefit-008.png)','遠端工作')
      +hireing-list__item('1','background-image: url(img/pictures/benefit-009.png)','鼓勵利用上班時間參與技術聚會/黑客松/研討會')
      +hireing-list__item('1','background-image: url(img/pictures/benefit-010.png)','通訊補助、員工分紅、三節獎金、績效獎金')
      +hireing-list__item('1','background-image: url(img/pictures/benefit-011.png)','勞、健保及退休金提撥')
      +hireing-list__item('1','background-image: url(img/pictures/benefit-012.png)','每半年團建活動')
// == END OF HIREING 03 ==
