// == START OF HIREING 04 ==

.hireing.hireing-04
  .hireing__title-box
    h2.hireing__title
      | 來吧加入我們
    span.hireing__description
      | 一個簡單的團隊，希望成就不簡單的事，期待遇見同樣的你。
  .row
    .title
    .sub
    .content
      ul
        li

// == END OF HIREING 04 ==
