// == START OF ABOUT 02 ==
.about.about-02
  .about__title-box
    h2.about__title
      | 我們的文化
    span.about__description
      | Just Do It，少囉唆、先做事。
  ul.about__filter-tags
    // For filtering controls add
    - var item = ".about__filter-tags__item";
    li.about__filter-tags__item
      button.button--black(type='button', data-filter='1', class='js-filtering-button')
        | 追求速度與激情
    li.about__filter-tags__item
      button.button--gray(type='button', data-filter='2', class='js-filtering-button')
        | 化繁為簡
    li.about__filter-tags__item
      button.button--gray(type='button', data-filter='3', class='js-filtering-button')
        | 因為年輕又狂野
  .container
    .row.filtr-container
      .about__item
        img.about__item_img(src='img/hireing-culture-01.svg')
        h3.about__item_title
          | 看緊目標、快速迭代，我們追求用最小的管理，靈活、快速、有效率的溝通。
      .about__item
        img.about__item_img(src='img/hireing-culture-02.svg')
        h3.about__item_title
          | 我們面對混亂、終結混亂，追求最接近使用場景的貼心，贏得客戶信賴。
      .about__item
        img.about__item_img(src='img/hireing-culture-03.svg')
        h3.about__item_title
          | 制度無法管理態度，因為彼此信任，年輕讓我們突破體制，狂放而熱情邁向目標。
// == END OF ABOUT 02 ==