// == START OF TEAM 03 ==
.about.about-03
  .about__title-box
    h2.about__title
      | 我們的客戶
    span.about__description
      | 自 2015 年成立以來，吸引了眾多互聯網大玩家的目光
  .container
    .row.about__row
      .about__space.col-xs-12.col-md-6.col-lg-3
        .about__item
          img.about__item_img(src='img/enterprise/enterprise-01.png')
      .about__space.col-xs-12.col-md-6.col-lg-3
        .about__item
          img.about__item_img(src='img/enterprise/enterprise-02.png')
      .about__space.col-xs-12.col-md-6.col-lg-3
        .about__item
          img.about__item_img(src='img/enterprise/enterprise-03.png')
      .about__space.col-xs-12.col-md-6.col-lg-3
        .about__item
          img.about__item_img(src='img/enterprise/enterprise-04.png')
      .about__space.col-xs-12.col-md-6.col-lg-3
        .about__item
          img.about__item_img(src='img/enterprise/enterprise-05.png')
      .about__space.col-xs-12.col-md-6.col-lg-3
        .about__item  
          img.about__item_img(src='img/enterprise/enterprise-06.png')
      .about__space.col-xs-12.col-md-6.col-lg-3
        .about__item
          img.about__item_img(src='img/enterprise/enterprise-07.png')
      .about__space.col-xs-12.col-md-6.col-lg-3
        .about__item
          img.about__item_img(src='img/enterprise/enterprise-08.png')
// == END OF ABOUT 03 ==