// == START OF FOOTER ==
footer.footer
  .footer__main_box
    .container.footer__container
      .footer__left_box
      .footer__right_box
        ul.footer__menu
          li.footer__menu__item
            span.footer__menu__title
              | Project
          li.footer__menu__item
            a.footer__menu__link(href='#')
              | OWL
          li.footer__menu__item
            a.footer__menu__link(href='#')
              | Open Falcon
          li.footer__menu__item
            a.footer__menu__link(href='#')
              | OWL UI
        ul.footer__menu
          li.footer__menu__item
            span.footer__menu__title
              | Service
          li.footer__menu__item
            a.footer__menu__link(href='#')
              | Monitoring System -  Enterprise Solutions 
          li.footer__menu__item
            a.footer__menu__link(href='#')
              | BlockChain
        ul.footer__menu
          li.footer__menu__item
            span.footer__menu__title
              | COMPANY
          li.footer__menu__item
            a.footer__menu__link(href='#')
              | About
          li.footer__menu__item
            a.footer__menu__link(href='#')
              | Blog
          li.footer__menu__item
            a.footer__menu__link(href='#')
              | Jobs
  .footer__description_box
    .container.footer__container
      ul.footer__submenu
        li.footer__submenu__item
          a.footer__submenu__link(href='#')
            | Terms and Conditions
        li.footer__submenu__item
          a.footer__submenu__link(href='#')
            | Privacy Policy
        li.footer__submenu__item
          a.footer__submenu__link(href='#')
            | Licenses
        li.footer__submenu__item
          a.footer__submenu__link(href='#')
            | FAQ
      span.footer__copyright
        | &copy; ceapve.com, 2017
// == END OF FOOTER ==