.home-03 {
  position: relative;
  background:linear-gradient(top, rgba($color-blue-dark,1) 0%, rgba($color-blue-light,1) 100%);
  padding: 120px 0;
  @media (#{$max_phones}){
    padding: 50px 0;
  }
  &-left {
    padding-right: 45px;
  }
  .home {
    &__textbox {
      text-align: left;
      &_title {
        @include font_loader($montserrat, 4, 'n');
        margin-bottom: 48px;
        font-size: 36px;
        line-height: 54px;
        color: $white;
        text-transform: uppercase;
      }
      &_text {
        @include font_loader($montserrat, 1, 'n');
        display: block;
        margin: auto;
        font-size: 14px;
        color: $white;
        margin-bottom: 1em;
        // .col-lg-3 & {
        //   width: 90%;
        // }
      }
    }
    &__item {
      text-align: left;
      padding: 28px;
      background: $white;
      box-shadow: 0 4px 12px 0 rgba(0,0,71,0.2);
      border-radius: 4px;
      &:hover {
        box-shadow: 0 8px 48px 0 rgba(0,0,71,0.4);
        transition: box-shadow .75s;
      }
      &_img {
        margin-bottom: 28px;
      }
      &_title {
        @include font_loader($montserrat, 4, 'n');
        margin-bottom: 10px;
        font-size: 20px;
        color: $color-gray-darker;
        text-transform: uppercase;
        letter-spacing: .05em;
        margin-bottom: 24px;
      }
      &_text {
        @include font_loader($montserrat, 1, 'n');
        display: block;
        margin: auto;
        font-size: 14px;
        line-height: 22px;
        color: $color-gray;
        padding-top: 20px;
        padding-bottom: 20px;
        border-top: 1px solid $color-gray-lighter;
        border-bottom: 1px solid $color-gray-lighter;
        // .col-lg-3 & {
        //   width: 90%;
        // }
      }
      &_btn {
        background-image: linear-gradient(-90deg, #31DAFF 0%, #538DFF 100%);
        border-radius: 4px;
        display: block;
        font-size: 14px;
        line-height: 50px;
        text-align: center;
        color: $white;
        margin-top: 28px;
      }
    }
  }
}
