.hireing-02 {
  position: relative;
  background: $white;
  padding-bottom: 120px;
  &:before {
    content: '';
    display: block;
    position: absolute;
    height: 600px;
    width: 100%;
    background-image: url('../img/float-wave.svg');
    background-size: cover;
    background-position-x: center;
    bottom: 100%;
  }
  @media (#{$max_phones}){
    padding: 50px 0;
  }
  .hireing {
    &__item {
      text-align: center;
      &_img {
        margin-bottom: 16px;
      }
      &_title {
        @include font_loader($montserrat, 4, 'n');
        margin-bottom: 24px;
        font-size: 20px;
        color: $color-gray-darker;
        text-transform: uppercase;
        letter-spacing: .05em;
        margin-bottom: 24px;
      }
      &_text {
        @include font_loader($montserrat, 1, 'n');
        display: block;
        margin: auto;
        font-size: 14px;
        color: $color-gray;
        // .col-lg-3 & { 
        //   width: 90%;
        // }
      }
    }
  }
}
