.about-03 {
  position: relative;
  background: $white;
  padding-bottom: 120px;
  &:before {
    content: '';
    display: block;
    position: absolute;
    height: 343px;
    width: 100%;
    background-image: url('../img/about-wave.svg');
    background-size: cover;
    background-position-x: center;
    bottom: 100%;
  }
  @media (#{$max_phones}){
    padding: 50px 0;
  }
  .about {
    &__item {
      text-align: center;
      margin: 10px;
      //background: $sky;
      border: $color-gray-lighter 1px solid;
      border-radius: 4px;
      box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 8px;
    }    
  }
}
