// == START OF team 03 ==
.team.team--03
	.team__title_box
		.team__title
			| 英雄者聯盟
		p 這裡聚集不同領域的專家和技術宅，只怕你不敢來華山論劍。
		ul.team__filter_tags
			// For filtering controls add
			li.team__filter_tags__item
				button.button.button--black.button--extra-small.js-filtering-button(type='button', data-filter='all')
					| all
			li.team__filter_tags__item
				button.button.button--gray.button--extra-small.js-filtering-button(type='button', data-filter='1')
					| G & A
			li.team__filter_tags__item
				button.button.button--gray.button--extra-small.js-filtering-button(type='button', data-filter='2')
					| Community
			li.team__filter_tags__item
				button.button.button--gray.button--extra-small.js-filtering-button(type='button', data-filter='3')
					| Engineering
			li.team__filter_tags__item
				button.button.button--gray.button--extra-small.js-filtering-button(type='button', data-filter='3')
					| Product
		.team__row
			.filtr-container.team__container--03
				a.team__item(data-category='1', href='#', class='filtr-item')
					.team__item_img.team__item_img--03(style='background-image: url(http://via.placeholder.com/250/FFC725/000000)')
				a.team__item(data-category='1', href='#', class='filtr-item')
					.team__item_img.team__item_img--03(style='background-image: url(http://via.placeholder.com/250/DDDDDD/000000)')
				a.team__item(data-category='2', href='#', class='filtr-item')
					.team__item_img.team__item_img--03(style='background-image: url(http://via.placeholder.com/250/FF8870/000000)')
				a.team__item(data-category='2', href='#', class='filtr-item')
					.team__item_img.team__item_img--03(style='background-image: url(http://via.placeholder.com/250/DDDDDD/000000)')
				a.team__item(data-category='3', href='#', class='filtr-item')
					.team__item_img.team__item_img--03(style='background-image: url(http://via.placeholder.com/250/FF566D/000000)')
				a.team__item(data-category='2', href='#', class='filtr-item')
					.team__item_img.team__item_img--03(style='background-image: url(http://via.placeholder.com/250/DDDDDD/000000)')
				a.team__item(data-category='4', href='#', class='filtr-item')
					.team__item_img.team__item_img--03(style='background-image: url(http://via.placeholder.com/250/CE6EE8/000000)')
				a.team__item(data-category='4, 1', href='#', class='filtr-item')
					.team__item_img.team__item_img--03(style='background-image: url(http://via.placeholder.com/250/DDDDDD/000000)')
// == END OF team 02 ==