// == START OF HOME 01 ==
.home.home-01
  .container
    .imgbox
      .imagebox__inner.imgbox__inner--4-3
        .image
          img(src='img/bg/bg--home_hero.png')
    //- .home__title-box.col-xs-12.col-md-12.col-lg-12
    //-     span.home__description
    //-       | 1SG 与全球知名 Kryptono 和 Top.one 加密货币交易所达成合作，于2019年1月1日面向全球正式发布。
    //-     span.home__description
    //-       | 1SG 是首个与新加坡币挂钩的稳定币，1SG 将优化 USDT、TUSD 及 USDC 等现有稳定币的不足。
    //-     span.home__description
    //-       | 1SG 背靠全球金融中心新加坡的优势金融资源，将为全球加密货币市场注入新的活力！
// == END OF HOME 01 ==