// == START OF HOME 03 ==
.home.home-03
  .background.parallax
  .home__title-box.col-xs-12
    h2.home__title
      | 1SG 稳定币优势
  .container
    .row.home__row
      .home__item.col-xs-12.col-md-4.col-lg-3.wow.fadeInUp(data-wow-duration='0.5s',data-wow-delay='0.25s')
        .home__item_container
          img.home__item_img(src='img/feature_1.svg')
          h3.home__item_title
            | 1SG 稳定币特色
          span.home__item_text
            | 建立与新加坡法币锚定的虚拟货币，提供金融/贸易/个人最安心的资产管理平台。

      .home__item.col-xs-12.col-md-4.col-lg-3.wow.fadeInUp(data-wow-duration='0.5s',data-wow-delay='0.45s')
        .home__item_container
          img.home__item_img(src='img/feature_2.svg')
          h3.home__item_title
            | 货币流通公开透明
          span.home__item_text
            | 投资者可便捷的通过以太坊区块链查询流通的 1SG 稳定币数量，透过储备证明系统发行的经审计银行结余报表进行比较，确保存在足额的法定资产保障。
      .home__item.col-xs-12.col-md-4.col-lg-3.wow.fadeInUp(data-wow-duration='0.5s',data-wow-delay='0.65s')
        .home__item_container
          img.home__item_img(src='img/feature_3.svg')
          h3.home__item_title
            | 高效便捷的 KYC / AML 审核流程
          span.home__item_text
            | 1SG 稳定币将按照国际标准 KYC / AML 完成交易基础审核工作，将区块链技术优势与传统金融机构客户信息优势结合，发展更高效、准确、可信的 KYC 流程，大幅缩短审核时间。
      .home__item.col-xs-12.col-md-4.col-lg-3.wow.fadeInUp(data-wow-duration='0.5s',data-wow-delay='0.85s')
        .home__item_container
          img.home__item_img(src='img/feature_4.svg')
          h3.home__item_title
            | 安全并具高度流动性
          span.home__item_text
            | 1SG 稳定币将建立多层次、高流量的流动性生态架构，透过与全球主流虚拟货币交易所对接，建立最活跃的交易对；用户可透过专属钱包完成多样虚拟货币兑换、资金避险、资产储存、跨境交易、支付结算等。
// == END OF HOME 03 ==
