// == START OF HOME 04 ==
.home.home-04
  .team__title-box
  h2.team__title
    | 跟上我們
  span.team__description
    | 最新的活動資訊、技術分享
  .container
    .row.home__row
      .home__item.col-xs-12.col-md-6.col-lg-3
        .home__item_container
          img.home__item_img(src='img/pictures/benefit-002.png')
          span.home__item_text
            | 公司的技術棧
      .home__item.col-xs-12.col-md-6.col-lg-3
        .home__item_container
          img.home__item_img(src='img/pictures/benefit-004.png')
          span.home__item_text
            | 新世代的包管理 yarn
      .home__item.col-xs-12.col-md-6.col-lg-3
        .home__item_container
          img.home__item_img(src='img/pictures/benefit-001.png')
          span.home__item_text
            | 不要只因為性能考量而選擇 React.js
      .home__item.col-xs-12.col-md-6.col-lg-3
        .home__item_container
          img.home__item_img(src='img/pictures/benefit-008.png')
          span.home__item_text
            | 撰寫一份符合需求的 Dockerfile

// == END OF HOME 04 ==