// == START OF HOME 04 ==
.home.home-04
  .home__title-box
  h2.home__title
    | 项目时程
  .container
    .timeline.timeline__group
      .timeline__line
      .timeline_cards
        .timeline_cards__row
          .timeline__card
            h6.timeline__card__title
              | 2018 July
            span.timeline__card__text
              | 香港总公司成立
        .timeline_cards__row
          .timeline__card
            h6.timeline__card__title
              | 2018 August
            span.timeline__card__text
              | 台湾、深圳、新加坡分公司成立
        .timeline_cards__row
          .timeline__card
            h6.timeline__card__title
              | 2018 Novenber
            span.timeline__card__text
              | 1SG 稳定币白皮书发布
        .timeline_cards__row
          .timeline__card
            h6.timeline__card__title
              | 2018 December
            span.timeline__card__text
              | 1SG 稳定币正式发行<br>火星区块链整合平台上线

    

// == END OF HOME 04 ==