// == START OF HOME 05 ==
.home.home-05
  .home__title-box
  h2.home__title
    | We Are Cepave
  span.home__description
    | G & A , Community , Engineering , Product
  .container
    .row.home__row
      .col-xs-12.col-md-6.col-lg-3
        .home__item
          a.home__item_link(href='hireing.html')
            img.home__item_img(src='img/planet.svg')
            p.home__item_title
              | G & A
            p.home__item_text
              | 重新定義宇宙的邊界
      .col-xs-12.col-md-6.col-lg-3
        .home__item
          a.home__item_link(href='hireing.html')
            img.home__item_img(src='img/galaxy.svg')
            p.home__item_title
              | Community
            p.home__item_text
              | 引領顛覆宇宙的大霹靂
      .col-xs-12.col-md-6.col-lg-3
        .home__item
          a.home__item_link(href='hireing.html')
            img.home__item_img(src='img/alien.svg')
            p.home__item_title
              | Engineering
            p.home__item_text
              | 打造宇宙無敵戰隊
      .col-xs-12.col-md-6.col-lg-3
        .home__item
          a.home__item_link(href='hireing.html')
            img.home__item_img(src='img/shuttle.svg')
            p.home__item_title
              | Product
            p.home__item_text
              | 讓宇宙漫遊實現
// == END OF HOME 05 ==
