// == START OF HOME 05 ==
.home.home-05
  .home__title-box
  h2.home__title
    | We Are Cepave
  span.home__description
    | G & A , Community , Engineering , Product
  .container
    .row.home__row
      .home__item.col-xs-12.col-md-6.col-lg-3
        .home__item_container
          img.home__item_img(src='img/home-01.svg')
          span.home__item_text
            | 重新定義宇宙的邊界
      .home__item.col-xs-12.col-md-6.col-lg-3
        .home__item_container
          img.home__item_img(src='img/home-02.svg')
          span.home__item_text
            | 引領顛覆宇宙的大霹靂
      .home__item.col-xs-12.col-md-6.col-lg-3
        .home__item_container
          img.home__item_img(src='img/home-03.svg')
          span.home__item_text
            | 讓宇宙漫遊實現
      .home__item.col-xs-12.col-md-6.col-lg-3
        .home__item_container
          img.home__item_img(src='img/home-04.svg')
          span.home__item_text
            | 打造宇宙無敵戰隊
// == END OF HOME 05 ==