// == START OF HOME 05 ==
.home.home-05
  .home__title-box
    h2.home__title
      | 顾问团队
  .container
    .row.home__row
      .col-xs-6.col-md-6.col-lg-3
        .home__item
          img.home__item_img(src='img/person/person-1.jpg')
          p.home__item_title
            | Clemen Chiang, Ph.D.
          p.home__item_text
            | 顾问
      .col-xs-6.col-md-6.col-lg-3
        .home__item
          img.home__item_img(src='img/person/person-2.jpg')
          p.home__item_title
            | William Nguyen, Ph.D.
          p.home__item_text
            | 顾问
      .col-xs-6.col-md-6.col-lg-3
        .home__item
          img.home__item_img(src='img/person/person-3.jpg')
          p.home__item_title
            | Alexey Maslov
          p.home__item_text
            | 顾问
      .col-xs-6.col-md-6.col-lg-3
        .home__item
          img.home__item_img(src='img/person/person-4.jpg')
          p.home__item_title
            | Reuben Choo
          p.home__item_text
            | 顾问
      .col-xs-6.col-md-6.col-lg-3
        .home__item
          img.home__item_img(src='img/person/person-5.jpg')
          p.home__item_title
            | Eugene Loza
          p.home__item_text
            | 顾问
      .col-xs-6.col-md-6.col-lg-3
        .home__item
          img.home__item_img(src='img/person/person-6.jpg')
          p.home__item_title
            | Nicole Yee
          p.home__item_text
            | 顾问
      .col-xs-6.col-md-6.col-lg-3
        .home__item
          img.home__item_img(src='img/person/person-7.jpg')
          p.home__item_title
            | Charles Thach
          p.home__item_text
            | 顾问
      .col-xs-6.col-md-6.col-lg-3
        .home__item
          img.home__item_img(src='img/person/person-8.jpg')
          p.home__item_title
            | Minh Thach
          p.home__item_text
            | 顾问
// == END OF HOME 05 ==
