// == START OF HOME 06 ==
.home.home-06
  .home__title-box.col-xs-12
    h2.home__title
      | 合作伙伴
  .container
    .row.home__row
      .col-xs-12.col-md-6.col-lg-3
        img.home__item_img(src='img/partner/spiking@2x.png')
      .col-xs-12.col-md-6.col-lg-3
        img.home__item_img(src='img/partner/topone@2x.png')
      .col-xs-12.col-md-6.col-lg-3
        img.home__item_img(src='img/partner/slowmist@2x.png')
      .col-xs-12.col-md-6.col-lg-3
        img.home__item_img(src='img/partner/marsm@2x.png')
      .col-xs-12.col-md-6.col-lg-3
        img.home__item_img(src='img/partner/marsb@2x.png')
      .col-xs-12.col-md-6.col-lg-3
        img.home__item_img(src='img/partner/pineling@2x.png')
      .col-xs-12.col-md-6.col-lg-3
        img.home__item_img(src='img/partner/kryptono@2x.png')
// == END OF HOME 06 ==