// == START OF HOME 06 ==
.home.home-06
  .home__title-box.col-xs-12
    h2.home__title
      | 合作伙伴
  .container
    .row.home__row
      .col-xs-6.col-md-6.col-lg-3
        .home__item
          a.home__item_link(href='https://spiking.io/' target='_blank')
            img.home__item_img(src='img/partner/spiking@2x.png')
      .col-xs-6.col-md-6.col-lg-3
        .home__item
          a.home__item_link(href='https://top.one/index' target='_blank')
            img.home__item_img(src='img/partner/topone@2x.png')
      .col-xs-6.col-md-6.col-lg-3
        .home__item
          a.home__item_link(href='https://slowmist.com/' target='_blank')
            img.home__item_img(src='img/partner/slowmist@2x.png')
      .col-xs-6.col-md-6.col-lg-3
        .home__item
          a.home__item_link(href='https://media.marsglobal.io/' target='_blank')
            img.home__item_img(src='img/partner/marsm@2x.png')
      .col-xs-6.col-md-6.col-lg-3
        .home__item
          a.home__item_link(href='https://marsblockchain.com/' target='_blank')
            img.home__item_img(src='img/partner/marsb@2x.png')
      .col-xs-6.col-md-6.col-lg-3
        .home__item
          a.home__item_link(href='https://www.marschinalink.com/' target='_blank')
            img.home__item_img(src='img/partner/pineling@2x.png')
      .col-xs-6.col-md-6.col-lg-3
        .home__item
          a.home__item_link(href='https://kryptono.exchange/k/home' target='_blank')
            img.home__item_img(src='img/partner/kryptono@2x.png')
      .col-xs-6.col-md-6.col-lg-3
        .home__item
          a.home__item_link(href='https://www.bitmart.com/' target='_blank')
            img.home__item_img(src='img/partner/bitmart@2x.png')
      .col-xs-6.col-md-6.col-lg-3
        .home__item
          a.home__item_link(href='https://p2pb2b.io/' target='_blank')
            img.home__item_img(src='img/partner/p2p@2x.png')
      .col-xs-6.col-md-6.col-lg-3
        .home__item
          a.home__item_link(href='https://oex.com/index' target='_blank')
            img.home__item_img(src='img/partner/oex@2x.png')
  .container
    .row.home__row
      ul.home__other.home__other_filter.list-unstyled
        li.home__other_li
          a.home__other_link(href='https://www.okex.com/' target='_blank')
            h5.home__other_text
              | OKEx
        li.home__other_li
          a.home__other_link(href='https://www.bitmain.com/' target='_blank')
            h5.home__other_text
              | BITMAIN
        li.home__other_li
          a.home__other_link(href='http://www.linkvc.com/' target='_blank')
            h5.home__other_text
              | LINKVC
        li.home__other_li
          a.home__other_link(href='http://www.sosobtc.com/' target='_blank')
            h5.home__other_text
              | sosobtc
        li.home__other_li
          a.home__other_link(href='https://www.hbg.com/zh-cn/' target='_blank')
            h5.home__other_text
              | 火币全球站
        li.home__other_li
          a.home__other_link(href='https://www.binance.com/tw' target='_blank')
            h5.home__other_text
              | Binance
        li.home__other_li
          a.home__other_link(href='https://www.bitfinex.com/' target='_blank')
            h5.home__other_text
              | Bitfinex
        li.home__other_li
          a.home__other_link(href='https://www.bibox.com/' target='_blank')
            h5.home__other_text
              | bibox.com
        li.home__other_li
          a.home__other_link(href='https://www.gate.io/' target='_blank')
            h5.home__other_text
              | Gate.io
        li.home__other_li
          a.home__other_link(href='https://www.zb.cn/' target='_blank')
            h5.home__other_text
              | ZB.com
        li.home__other_li
          a.home__other_link(href='https://www.btctrade.im/' target='_blank')
            h5.home__other_text
              | btctrade.im
        li.home__other_li
          a.home__other_link(href='https://www.coinex.com/' target='_blank')
            h5.home__other_text
              | CoinEx
        li.home__other_li
          a.home__other_link(href='https://www.bit.cc/' target='_blank')
            h5.home__other_text
              | Bit.cc
        li.home__other_li
          a.home__other_link(href='http://www.bcex.top/' target='_blank')
            h5.home__other_text
              | BCEX
        li.home__other_li
          a.home__other_link(href='https://www.bitcoin.com/' target='_blank')
            h5.home__other_text
              | Bitcoin.com
        li.home__other_li
          a.home__other_link(href='https://cointelegraph.com/' target='_blank')
            h5.home__other_text
              | Cointelegraph
        li.home__other_li
          a.home__other_link(href='https://www.coindesk.com/' target='_blank')
            h5.home__other_text
              | Coindesk
        li.home__other_li
          a.home__other_link(href='http://www.qukuaiwang.com.cn/' target='_blank')
            h5.home__other_text
              | 区块网
        li.home__other_li
          a.home__other_link(href='http://www.jinse.com/' target='_blank')
            h5.home__other_text
              | 金色财经
        li.home__other_li
          a.home__other_link(href='http://www.jgy.com/' target='_blank')
            h5.home__other_text
              | 九个亿财经
        li.home__other_li
          a.home__other_link(href='http://www.tuoniaox.com/' target='_blank')
            h5.home__other_text
              | 鸵鸟区块链
        li.home__other_li
          a.home__other_link(href='http://btcjl.com/' target='_blank')
            h5.home__other_text
              | 比特币精灵
        li.home__other_li
          a.home__other_link(href='http://block123.com/' target='_blank')
            h5.home__other_text
              | Block123
        li.home__other_li
          a.home__other_link(href='https://pool.btc.com/' target='_blank')
            h5.home__other_text
              | BTC.com矿池
        li.home__other_li
          a.home__other_link(href='http://www.btc798.com/' target='_blank')
            h5.home__other_text
              | 比特币之家
        li.home__other_li
          a.home__other_link(href='http://www.bitcoin86.com/' target='_blank')
            h5.home__other_text
              | 比特币资讯网
        li.home__other_li
          a.home__other_link(href='https://bittrex.com/' target='_blank')
            h5.home__other_text
              | Bittrex
        li.home__other_li
          a.home__other_link(href='http://ratingtoken.io/' target='_blank')
            h5.home__other_text
              | RatingToken
        li.home__other_li
          a.home__other_link(href='https://poloniex.com/' target='_blank')
            h5.home__other_text
              | Poloniex
        li.home__other_li
          a.home__other_link(href='http://www.8btc.com/' target='_blank')
            h5.home__other_text
              | 巴比特 
        li.home__other_li
          a.home__other_link(href='http://www.coinness.com/' target='_blank')
            h5.home__other_text
              | Coinness
        li.home__other_li
          a.home__other_link(href='https://inchat.io/app' target='_blank')
            h5.home__other_text
              | inChat 
        li.home__other_li
          a.home__other_link(href='https://www.bitasset.com/' target='_blank')
            h5.home__other_text
              | BitAsset 
        li.home__other_li
          a.home__other_link(href='https://www.vvpool.com/' target='_blank')
            h5.home__other_text
              | VVPool 
        li.home__other_li
          a.home__other_link(href='http://www.bitbee24.com/' target='_blank')
            h5.home__other_text
              | 蜜蜂财经 
        li.home__other_li
          a.home__other_link(href='https://www.f2pool.com/' target='_blank')
            h5.home__other_text
              | F2Pool鱼池 
        li.home__other_li
          a.home__other_link(href='https://www.blockob.com/' target='_blank')
            h5.home__other_text
              | 互链脉搏 
        li.home__other_li
          a.home__other_link(href='https://otcbtc.com/?afid=aicoin-partners' target='_blank')
            h5.home__other_text
              | OTCBTC 
        li.home__other_li
          a.home__other_link(href='https://www.tuoluocaijing.cn/' target='_blank')
            h5.home__other_text
              | 陀螺财经 
        li.home__other_li
          a.home__other_link(href='http://pool.viabtc.com/' target='_blank')
            h5.home__other_text
              | ViaBTC矿池
        li.home__other_li
          a.home__other_link(href='http://www.coldlar.com/' target='_blank')
            h5.home__other_text
              | 库神 
        li.home__other_li
          a.home__other_link(href='https://cobo.com/' target='_blank')
            h5.home__other_text
              | Cobo钱包 
        li.home__other_li
          a.home__other_link(href='https://bysec.io/' target='_blank')
            h5.home__other_text
              | BYSEC 
        li.home__other_li
          a.home__other_link(href='http://www.searchain.io/' target='_blank')
            h5.home__other_text
              | Searchain.io 
        li.home__other_li
          a.home__other_link(href='https://www.qkl123.com/' target='_blank')
            h5.home__other_text
              | 区块链导航 
        li.home__other_li
          a.home__other_link(href='http://bbx.com/' target='_blank')
            h5.home__other_text
              | BBX 
        li.home__other_li
          a.home__other_link(href='https://www.bishijie.com/' target='_blank')
            h5.home__other_text
              | 币世界 
        li.home__other_li
          a.home__other_link(href='http://miner.tools/' target='_blank')
            h5.home__other_text
              | Miner.Tools 
        li.home__other_li
          a.home__other_link(href='https://www.pandaminer.com/aicoin' target='_blank')
            h5.home__other_text
              | 熊猫矿机 
        li.home__other_li
          a.home__other_link(href='https://oxbtc.com/aicoin' target='_blank')
            h5.home__other_text
              | 牛比特 
        li.home__other_li
          a.home__other_link(href='http://www.zg.top/' target='_blank')
            h5.home__other_text
              | ZG.TOP 
        li.home__other_li
          a.home__other_link(href='http://height.one/' target='_blank')
            h5.home__other_text
              | 高度财经 
        li.home__other_li
          a.home__other_link(href='https://www.thinkbitpro.com/' target='_blank')
            h5.home__other_text
              | ThinkBit 
        li.home__other_li
          a.home__other_link(href='http://www.coingogo.com/' target='_blank')
            h5.home__other_text
              | 币源社区
        li.home__other_li
          a.home__other_link(href='https://www.yaofache.com/?from=aicoin' target='_blank')
            h5.home__other_text
              | 要发车
        li.home__other_li
          a.home__other_link(href='ttps://tokenin.cn/' target='_blank')
            h5.home__other_text
              | TokenInsight
        li.home__other_li
          a.home__other_link(href='http://www.xnqb.com/#' target='_blank')
            h5.home__other_text
              | 小牛情报
// == END OF HOME 06 ==