.cover(style="background-image: url(img/about_hero.svg)")
	.container
		.cover__content_box.cover__content_box--team
			.col-xs-12.col-md-6.col-lg-5
				h2.cover__title.cover__title--team
					span.cover__title_text.cover__title_text--team
						| 我們是誰
				.cover__description_box--team
					span.cover__description_text--team
						| Cepave 成立於 2015 年，致力於打造企業級的網路應用解決方案，目前推出網路監控系統(CDN Monitoring)、區塊鏈(Blockchain) 產品，提供智慧、直覺與人性化的解決方案。親歷新創公司發展的同時，我們也深入了解傳統企業的運維需求場景，也因此產品正被互聯網玩家們廣泛採用。
.container(style='width: 100%; height: 860px;')